<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/schema/src/main/java/com/analogyx/schemer/instance/DbScriptGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.analogyx.schemer.instance.DbScriptGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/Users/ravi.somepalli/Documents/ravi/workspaces/multitenant-anysql/mysql/src/main/resources/SampleSchema.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="schema"/>
</launchConfiguration>
